extends layout

block content
  br
  h6 Click the button below to export our users database as a&nbsp;
    a(href="https://en.wikipedia.org/wiki/Comma-separated_values") CSV file
    small  &mdash; it could take a little while.
  hr
  a.btn.btn-outline-primary(href="/users") ⇓ Export
