doctype html
html
  head
    title Mediastream Users export tool
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  body
    .navbar.navbar-inverse.bg-primary
      .container
        .navbar-brand Mediastream <b>users</b> export tool
    .container
      block content
